/* ==========================================================================
		elements.typography
/ =========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: var(--heading-font-size, 1rem);
	line-height: var(--heading-line-height, 1.1);
	color: var(--color-diepblauw);
}

h1,
.as-h1 {
	--heading-font-size: var(--font-size-alpha);
	--heading-line-height: var(--line-height-alpha);
}

h2,
.as-h2 {
	--heading-font-size: var(--font-size-beta);
	--heading-line-height: var(--line-height-beta);
}

h3,
.as-h3 {
	--heading-font-size: var(--font-size-gamma);
	--heading-line-height: var(--line-height-gamma);
}

h4,
.as-h4,
h5,
.as-h5,
h6,
.as-h6 {
	--heading-font-size: var(--font-size-delta);
	--heading-line-height: var(--line-height-delta);
}

small {
	font-size: var(--font-size-milli);
	line-height: var(--line-height-milli);
}

legend {
	padding-inline: 0;
	font-size: var(--legend-font-size, var(--font-size-beta));
	line-height: var(--legend-line-height, var(--font-size-beta));
	font-weight: bold;
	color: var(--color-diepblauw);
}
