/* ==========================================================================
		primitives.radii
		All kinds of standard border radii
/ =========================================================================== */

@use './responsive';

:where(html) {
	--radii-small: 5px;
	--radii-base: 11px;
	--radii-large: 20px;
	--radii-huge: var(--space-r-small);

	@media --mq-large {
		--radii-huge: var(--space-r-large);
	}
}
