/* ==========================================================================
		primitives.spacing
		Spacing variables used for padding, margin etc.
/ =========================================================================== */

:where(html) {
	// Static spacing
	--space-s-tiny: 8px;
	--space-s-small: 16px;
	--space-s-base: 24px;

	// Relative spacing
	--space-r-tiny: 0.4210526316rem; // 8px
	--space-r-small: 0.8421052632rem; // 16px
	--space-r-base: 1.2631578947rem; // 24px
}
