/* ==========================================================================
		primitives.spacing
		Spacing variables used for padding, margin etc.
/ =========================================================================== */

:where(html) {
	// Static spacing
	--space-s-nano: 4px;
	--space-s-milli: 8px;
	--space-s-tiny: 12px;
	--space-s-small: 16px;
	--space-s-base: 24px;
	--space-s-large: 32px;
	--space-s-gaint: 40px;
	--space-s-huge: 52px;
	--space-s-humongous: 64px;

	// Relative spacing
	--space-r-nano: 0.2105263158rem; // 4px
	--space-r-milli: 0.4210526316rem; // 8px
	--space-r-tiny: 0.6315789474rem; // 12px
	--space-r-small: 0.8421052632rem; // 16px
	--space-r-base: 1.2631578947rem; // 24px
	--space-r-large: 1.6842105263rem; // 32px
	--space-r-gaint: 2.1052631579rem; // 40px
	--space-r-huge: 2.7368421053rem; // 52px
	--space-r-humongous: 3.3684210526rem; // 64px

	@media --mq-large {
		& {
			// Relative spacing
			--space-r-nano: 0.2rem; // 4px
			--space-r-milli: 0.4rem; // 8px
			--space-r-tiny: 0.6rem; // 12px
			--space-r-small: 0.8rem; // 16px
			--space-r-base: 1.2rem; // 24px
			--space-r-large: 1.6rem; // 32px
			--space-r-gaint: 2rem; // 40px
			--space-r-huge: 2.6rem; // 52px
			--space-r-humongous: 3.2rem; // 64px
		}
	}
}
