/* ==========================================================================
		primitives.stack
/ =========================================================================== */

@use './responsive';

:where(html) {
	--stack-nano: var(--space-r-nano);
	--stack-milli: var(--space-r-milli);
	--stack-tiny: var(--space-r-tiny);
	--stack-small: var(--space-r-small);
	--stack-base: var(--space-r-base);
	--stack-large: var(--space-r-large);
	--stack-huge: var(--space-r-huge);
	--stack-humongous: var(--space-r-humongous);
	--stack-hero: var(--space-r-base);
	--stack-layer: var(--space-r-base);

	@media --mq-large {
		--stack-hero: var(--space-r-large);
		--stack-layer: var(--space-r-humongous);
	}
}
