/* ==========================================================================
		primitives.variants
/ =========================================================================== */

:where(html) {
	// tile
	--variant--tile-border-radius: var(--radii-milli);
	--variant--tile-border-color: var(--color-poolblauw);
	--variant--tile-border-color-interactive: var(--color-donkerblauw);
	--variant--tile-border: 1px solid var(--variant--tile-border-color);
	--variant--tile-border-interactive: 1px solid
		var(--variant--tile-border-color-interactive);
}
