/* ==========================================================================
		primitives.variants
/ =========================================================================== */

:where(html) {
	// tile
	--variant--tile-border-radius: var(--radii-milli);
	--variant--tile-border-color: var(--color-poolblauw);
	--variant--tile-border-color-interactive: var(--color-donkerblauw);
	--variant--tile-border-color-dark: var(--color-diepblauw);

	--variant--tile-elevation-base: 0 4px 0;
	--variant--tile-elevation: var(--variant--tile-elevation-base)
		var(--variant--tile-border-color);
	--variant--tile-elevation-dark: var(--variant--tile-elevation-base)
		var(--variant--tile-border-color-dark);
	--variant--tile-elevation-interactive: var(--variant--tile-elevation-base)
		var(--variant--tile-border-color-interactive);

	--variant--tile-border: 1px solid var(--variant--tile-border-color);
	--variant--tile-border-interactive: 1px solid
		var(--variant--tile-border-color-interactive);
}
