:root[data-theme='light'] {
	--sl-font: var(--font-family);
	--sl-line-height: var(--font-lineheight-root);
	--sl-color-text: var(--color-black);
	--sl-color-accent: var(--color-hemelblauw);
	--sl-content-width: 65rem;
}

.not-content:not(.tablist-wrapper, .c-icon-grid) {
	padding-block: var(--space-7);
	padding-inline: var(--space-7);
	outline: 1px solid var(--color-grijs-4);
}

.layout-container {
	container: layout-container / inline-size;
}

.social-icons::after {
	display: none;
}
