/* ==========================================================================
		tools.list
/ =========================================================================== */

@use '../tools/rem';

@mixin styled {
	ol,
	ul {
		--list-item-gap: var(--space-4);
		--list-item-icon-gap: var(--space-3);
		--list-item-icon-size: var(--space-6);
		--list-item-icon-font-size: var(--font-size-milli);
		--list-item-icon-line-height: var(--line-height-milli);
		--list-item-icon-color: var(--color-white);
		--list-item-icon-background: var(--color-donkerblauw);
		list-style: none;
		padding-inline-start: 0;

		> li {
			padding-inline-start: calc(
				var(--list-item-icon-gap) + var(--list-item-icon-size)
			);
			position: relative;

			& + li {
				margin-block-start: var(--list-item-gap);
			}

			&::before {
				display: flex;
				flex: 0 0 auto;
				align-items: center;
				justify-content: center;
				inline-size: var(--list-item-icon-size);
				aspect-ratio: 1 / 1;
				border-radius: 50%;
				font-size: var(--list-item-icon-font-size);
				line-height: var(--list-item-icon-line-height);
				font-weight: bold;
				color: var(--list-item-icon-color);
				background-color: var(--list-item-icon-background);
				position: absolute;
				inset-inline-start: 0;
			}
		}
	}
	ol {
		counter-reset: steps;

		> li {
			counter-increment: steps;
			&::before {
				content: counter(steps);
			}
		}
	}
	ul {
		--list-item-icon-background: var(--color-accent-robijnrood);
		> li {
			&::before {
				content: '!';
			}
		}
	}
}
