/* ==========================================================================
		utilitities.color
/ =========================================================================== */

$colors: (
	'ijsblauw',
	'poolblauw',
	'lichtblauw',
	'hemelblauw',
	'donkerblauw',
	'diepblauw',
	'grijs-6',
	'black',
	'accent-robijnrood',
	'accent-safarigroen'
);

@each $color in $colors {
	.u-background--#{$color} {
		background-color: var(--color-#{$color});
	}
	.u-color--#{$color} {
		color: var(--color-#{$color});
	}
}
