@font-face {
	font-family: 'RoSans';
	src: url('/fonts/ROsans/ROsanswebtextregular.eot?')
			format('embedded-opentype'),
		url('/fonts/ROsans/ROsanswebtextregular.woff') format('opentype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'RoSans';
	src: url('/fonts/ROsans/ROsanswebtextbold.eot?') format('embedded-opentype'),
		url('/fonts/ROsans/ROsanswebtextbold.woff') format('opentype');
	font-weight: bold;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
}

[hidden] {
  visibility: hidden;
}