@font-face {
	font-family: 'RoSans';
	src: url('/fonts/ROsans/ROsanswebtextregular.eot?')
			format('embedded-opentype'),
		url('/fonts/ROsans/ROsanswebtextregular.woff') format('opentype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'RoSans';
	src: url('/fonts/ROsans/ROsanswebtextbold.eot?') format('embedded-opentype'),
		url('/fonts/ROsans/ROsanswebtextbold.woff') format('opentype');
	font-weight: bold;
	font-style: normal;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	font-family: RoSans, sans-serif;
}

body {
	margin: 0;
}

button {
	cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
